#AnchorPane{
    -fx-background-color: #fff;
}
.jfx-button{
    -fx-background-color: #eaeaea;
    -fx-background-radius: 12 12 12 12;
    -fx-font-size: 20px;
    -fx-font-family: Serif;
    -fx-text-fill: #4682b4;
    -fx-font-weight: bold;
}
.jfx-button:hover{
    -fx-background-color: rgba(51, 54, 59, 1);
    -fx-background-radius: 12 12 12 12;
    -fx-font-size: 20px;
    -fx-font-family: Serif;
    -fx-text-fill: #4682b4;
    -fx-font-weight: bold;
}